<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{report_time}}</title>
</head>
<body>
<div>
{% for row in data %}
        <p style="font-size:1.5em">{{row['station']}}: {{row['speed']}} / {{row['gusts']}} km/h {{row['direction']}}</p>
{% endfor %}
</div>


<div>
       <p><a href="http://www.hko.gov.hk/wxinfo/ts/windbarb.htm?wgl&menu=otherwxi&rwx&addbar">
                <h2>Waglan</h2>
                <div>
                    <img src="wxplots/WaglanIsland_km.png"/>
                    <img src="http://www.hko.gov.hk/wxinfo/ts/wgldir.png"/>
                </div>

        </a></p>

       <p><a href="http://www.hko.gov.hk/wxinfo/ts/windbarb.htm?tc&menu=otherwxi&rwx&addbar">
                <h2>Tates Cairn</h2>
                <div>
                    <img src="wxplots/TatesCairn_km.png"/>
                    <img src="http://www.hko.gov.hk/wxinfo/ts/tcdir.png"/>
                </div>
        </a></p>

       <p><a href="http://www.hko.gov.hk/wxinfo/ts/windbarb.htm?ngp&menu=otherwxi&rwx&addbar">
                <h2>Ngong Ping</h2>
                <div>
                    <img src="wxplots/NgongPing_km.png"/>
                    <img src="http://www.hko.gov.hk/wxinfo/ts/ngpdir.png"/>
                </div>
        </a></p>

       <p><a href="http://www.hko.gov.hk/wxinfo/ts/windbarb.htm?cch&menu=otherwxi&rwx&addbar">
                <h2>Cheung Chau</h2>
                <div>
                    <img src="wxplots/CheungChau_km.png"/>
                    <img src="http://www.hko.gov.hk/wxinfo/ts/cchdir.png"/>
                </div>
        </a></p>

    </div>
</body>
</html>